<hydro-footer>
    <slot name="links">
        @* <a href="/About" class="link link-hover">About us</a> *@
        @* <a href="/Contact" class="link link-hover">Contact</a> *@
    </slot>
    <slot name="logos">
        <socials></socials>
    </slot>
    <slot name="copyright">
        <p>Copyright © 2024 - All right reserved by Code Mechanic LLC</p>
    </slot>
</hydro-footer>