@using thecodemechanic.Pages.Shared.Components
<!DOCTYPE html>
<html data-theme="dracula" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="hydro-config"/>
    <script defer src="~/hydro/hydro.js" asp-append-version="true"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - thecodemechanic</title>

    <!-- TAILWIND -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- HTMX -->

    <script src="~/lib/htmx/htmx.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- ALPINEJS -->
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/collapse@@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/persist@@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/focus@@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/morph@@3.x.x/dist/cdn.min.js"></script>

    <script src="~/lib/alpinejs/cdn.min.js" defer></script>

    <!-- Icons  -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</head>

<body x-data="setup_layout()">

<header>
    <nav links="@(new List<NavbarLink>()
                {
                    new NavbarLink("Home", "/"),
                    new NavbarLink("Sandbox", "Sandbox"),
                    new NavbarLink("Storybook", "Storybook"),
                })">
    </nav>
</header>

<div class="min-h-screen">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="h-24">
        &copy; 2024 - thecodemechanic - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)
<script>
    function setup_layout() {
        return {}
    }
</script>
</body>
</html>