@using System.Text.Json
@using CodeMechanic.Razorhat
@using ImportMap = CodeMechanic.Razorhat.ImportMap
<!DOCTYPE html>
<html data-theme="dracula" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="hydro-config"/>
    <script defer src="~/hydro/hydro.js" asp-append-version="true"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@ViewData["Title"] - thecodemechanic</title>

    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>

    <script>
        window.AppConfig = @Html.Raw(JsonSerializer.Serialize(new
                           {
                               pocketbaseUrl = Environment.GetEnvironmentVariable("POCKETBASE_URL")
                           }));
    </script>

    @inject ImportMap ImportMap

    @Html.Raw(ImportMap.RenderAsScripts(debug: true))

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>

    <link href="css/output.css" rel="stylesheet" type="text/css"/>
    <link href="css/temp_fixes.css" rel="stylesheet" type="text/css"/>

</head>

<body class="anonymous-pro-regular">

<header>
    <cm-navbar>foobar navbar</cm-navbar>
</header>

<div class="min-h-screen">
    <main role="main" class="h-full pb-3">
        @RenderBody()
    </main>
</div>

@* <span id="modal-placeholder"></span> *@

<partial name="_Footer"/>

@await RenderSectionAsync("Scripts", required: false)

@* *@
@* @{ *@
@*     bool force_alpine_to_see_sidebar = false; *@
@* } *@
@* @if (@force_alpine_to_see_sidebar) *@
@* { *@
@*     Console.WriteLine("FORCING ALPINE TO SEE SIDEBAR"); *@
@* *@
@*     <script type="module" src="~/js/site.js" asp-append-version="true"></script> *@
@* *@
@*     <drip-sidebar></drip-sidebar> *@
@* *@
@*     <script type="module"> *@
@*         // give Alpine a moment, then make sure the teleported content is live *@
@*         await new Promise(r => setTimeout(r, 0)); *@
@*         if (window.Alpine) { *@
@*             // the teleport template is now in the DOM; re-scan just in case *@
@*             Alpine.initTree(document.body); *@
@*         } *@
@*     </script> *@
@* } *@
@* *@
@* @if (!@force_alpine_to_see_sidebar) *@
@* { *@
@*     Console.WriteLine("LOADING SIDEBAR BEFORE SITEJS"); *@
<drip-sidebar></drip-sidebar>

<script type="module" src="~/js/site.js" asp-append-version="true"></script>
@* } *@

@* *@
@* <script type="module"> *@
@*     console.log("[DEBUG] loading content sidebar (cache-busted)!") *@
@* *@
@*     // cache-bust so prod never serves a stale ContentSidebar.html *@
@*     const modalHtml = await fetch(`/components/ContentSidebar.html?v=${Date.now()}`) *@
@*         .then(r => r.text()); *@
@* *@
@*     const modalPlaceholder = document.getElementById("modal-placeholder"); *@
@*     modalPlaceholder.innerHTML = modalHtml; *@
@* *@
@*     if (window.Alpine) { *@
@*         window.Alpine.initTree(modalPlaceholder); *@
@*     } *@
@* </script> *@

</body>
</html>


@* ============== PRE-IMPORT MAP ================= *@

@* <link rel="preconnect" href="https://fonts.googleapis.com"> *@
@* <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> *@
@* <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" *@
@*       rel="stylesheet"> *@
@* *@
@* <link *@
@*     href="~/css/site.css" *@
@*     rel="stylesheet" type="text/css"/> *@

@* <!-- TAILWIND --> *@
@* *@
@* <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0-beta.1/daisyui.css" rel="stylesheet" type="text/css"/> *@
@* <script src="https://cdn.tailwindcss.com"></script> *@
@* <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0-beta.1/themes.css" rel="stylesheet" type="text/css"/> *@
@* *@
@* <!-- HTMX --> *@
@* *@
@* <script src="~/lib/htmx/htmx.min.js"></script> *@
@* <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> *@
@* *@
@* <!-- ALPINEJS --> *@
@* <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/collapse@@3.x.x/dist/cdn.min.js"></script> *@
@* <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/persist@@3.x.x/dist/cdn.min.js"></script> *@
@* <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/focus@@3.x.x/dist/cdn.min.js"></script> *@
@* <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/morph@@3.x.x/dist/cdn.min.js"></script> *@
@* *@
@* <script src="~/lib/alpinejs/cdn.min.js" defer></script> *@
@* *@
@* <!-- Icons  --> *@
@* <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script> *@