@using CodeMechanic.Types
@using thecodemechanic.Pages.Shared.Components
<!DOCTYPE html>
<html data-theme="dracula" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="hydro-config"/>
    <script defer src="~/hydro/hydro.js" asp-append-version="true"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@ViewData["Title"] - thecodemechanic</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <link
        href="~/css/site.css"
        rel="stylesheet" type="text/css"/>

    <!-- TAILWIND -->

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0-beta.1/daisyui.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0-beta.1/themes.css" rel="stylesheet" type="text/css"/>
    
    <!-- HTMX -->

    <script src="~/lib/htmx/htmx.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- ALPINEJS -->
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/collapse@@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/persist@@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/focus@@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/morph@@3.x.x/dist/cdn.min.js"></script>

    <script src="~/lib/alpinejs/cdn.min.js" defer></script>

    <!-- Icons  -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</head>

<body class="anonymous-pro-regular" x-data="setup_layout()">

<header>
    <navbar links="@(new List<NavbarLink>()
                   {
                       new NavbarLink("Home", "/"),
                       new NavbarLink("Blog", "/Blog"),
                       new NavbarLink("Sandbox", "/Sandbox"),
                       new NavbarLink("Storybook", "/Storybook"),
                       new NavbarLink("Samples", "").With(l =>
                       {
                           // todo: make this recursively render.
                           l.children.Add(new NavbarLink("Tables", "/Samples/Tables"));
                           l.children.Add(new NavbarLink("JustDoIt", "/Samples/JustDoIt"));
                       }),
                   })">
    </navbar>
</header>

<div class="min-h-screen">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<partial name="_Footer"/>

@await RenderSectionAsync("Scripts", required: false)
<script>
    function setup_layout() {
        return {}
    }
</script>
</body>
</html>