@page "{id:int?}"
@model thecodemechanic.Pages.Samples.JustDoIt.Index

<div data-theme="dracula" class="section text-xl">
    <h1 class="title">Editable Table - Excelsior!</h1>
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var todo in Model.Todos)
        {
            <partial name="_Row" model="@todo"></partial>
        }
        </tbody>
    </table>
</div>