@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using thecodemechanic.Pages.Blog.Components
@using thecodemechanic.Pages.Shared.Components
@model thecodemechanic.Pages.Blog.Index

@{
}

<section class="border-2 border-success">

    <partial name="Components/_BlogAnimatedHeader"></partial>
    <div class="grid grid-cols-3" x-data="setup_blog()">

        @* <div class="col-span-2 border-2 border-success"> *@
        @*     <hero> *@
        @*         Latest post *@
        @*     </hero> *@
        @* </div> *@

        <div class="col-span-2 border-2 border-success">
            <partial name="Components/_TwitterPostSample"></partial>
        </div>
        <div id="left" class="col-span-1     border-2 border-success">
            <hero>Blog POSTS coming soon!</hero>
        </div>

        <div id="right" class="col-span-3   ">
            <twitter-timeline></twitter-timeline>
        </div>

    </div>
</section>
<script>
    function setup_blog() {
        return {
            views: {
                posts: {
                    show: true,
                    get button_text() {
                        return this.show ? "Hide" : "Show Posts"
                    },
                    toggle() {
                        this.show = !this.show
                    }
                }
            }
        }
    }
</script>