@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div x-data="setup_main()" class="text-center">

    <div class="">
        <div class="">

            <h1>Hello, there!</h1>
            <badge debug="true">
                My badge (should be black and white!)
            </badge>

            <accordion></accordion>

            <span x-show="true" class="rounded-full px-2.5 py-0.5 text-white text-xs font-semibold bg-black">
                Badge (how it should look)
            </span>

            @* <bento-card></bento-card> *@
            @* <bentocard_7></bentocard_7> *@

            @* <card_52></card_52> *@

            @* <editable-field-sample/> *@

            <alpine-toggle-sample/>

            @* <accordion_2></accordion_2> *@

            <partial name="Shared/_UnderConstruction"></partial>

            @* <island hx-page="Sandbox/"/> *@


        </div>
        <div class="">

        </div>
    </div>
</div>

<script>
    function setup_main() {

    }
</script>


@* <hero> *@
@*     <h1 class="text-3xl">Welcome to my website!</h1> *@
@* *@
@*     <modal btn-text="not working!" title="Welcome"> *@
@*         <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>. *@
@*         </p> *@
@*     </modal> *@
@* </hero> *@
