@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<hero>
    <h1 class="text-3xl">Welcome to my website!</h1>

    <alpine-toggle-sample></alpine-toggle-sample>
    <accordion></accordion>
    
    <modal btn-text="not working!" title="Welcome">
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
        </p>
    </modal>
</hero>
