@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div x-data="setup_main()" class="text-center">

    <div class="">
        <div class="">

            <partial name="Shared/_UnderConstruction"></partial>
            @* <h1>Hello, there!</h1> *@

            @* <island hx-page="Sandbox/"/> *@

            @* <badge_29></badge_29> *@
            @* <accordion_21></accordion_21> *@

            @* <accordion_2></accordion_2> *@
            @* <accordion></accordion> *@


        </div>
        <div class="">

        </div>
    </div>
</div>

<script>
    function setup_main() {

    }
</script>


@* <hero> *@
@*     <h1 class="text-3xl">Welcome to my website!</h1> *@
@* *@
@*     <modal btn-text="not working!" title="Welcome"> *@
@*         <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>. *@
@*         </p> *@
@*     </modal> *@
@* </hero> *@
