@using Htmx.TagHelpers
@model BlogPosts

@{
}

<div id="blog_posts">

    <div
        hx-get
        hx-page-handler="AllPosts"
    >
        <ul>
            @* @foreach (var title in fake_posts) *@
            @* { *@
            @*     <li>@title</li> *@
            @* } *@
        </ul>
    </div>
</div>
