@model thecodemechanic.Pages.Blog.Components.EmbeddedTwitterPost


<a class="twitter-timeline" href="https://twitter.com/Mike_Preston17?ref_src=twsrc%5Etfw">Tweets by Mike_Preston17</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

@* *@
@* <blockquote class="twitter-tweet"><p lang="en" dir="ltr">(any JS) Client + .NET API + PostrgreSQL on <a *@
@*             href="https://t.co/SoR86Jak8I">https://t.co/SoR86Jak8I</a>.<br>- Deploy in One Click from GitHub.<br>- *@
@*         Supports Dockerfiles &amp; Nix.tomls.<br>- No &quot;credits&quot; BS. Pay for what you USE (db + traffic) <a *@
@*             href="https://t.co/kxlbFBqhPK">https://t.co/kxlbFBqhPK</a></p>&mdash; Nicholas Preston (@@Mike_Preston17) <a *@
@*         href="https://twitter.com/Mike_Preston17/status/1875477396385927174?ref_src=twsrc%5Etfw">January 4, 2025</a> *@
@* </blockquote> *@
@* <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> *@