@model thecodemechanic.Pages.Blog.Components.TwitterTimeline
<a class="twitter-timeline" data-theme="dark" href="https://twitter.com/Mike_Preston17?ref_src=twsrc%5Etfw">Tweets
    by Mike_Preston17</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>